[Unit]
Description=GIO mount smb shares

[Service]
Type=oneshot
ExecStart=/home/%u/.local/bin/smb-share.sh
ExecStop=/home/%u/.local/bin/smb-share.sh -u

[Install]
WantedBy=multi-user.target
