[Unit]
Description=GIO mount smb shares
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/%u/.local/bin/smb-share.sh
ExecStop=/home/%u/.local/bin/smb-share.sh -u
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
